// Например
label.form-group
    span Username
    input(type="text" autocomplete="off")

// password
label.form-group.form-group--password
    span Password
        a.form-group__forgot(href="" title="forgot?") forgot?

    button.form-group-eye-toggle(type="button")
    input(type="password" autocomplete="off")



label.remember-me
    input(type="checkbox" value="remember me")
    span remember me

