aside.profile-menu
    .profile-menu__container

        .profile-menu__header
            .profile-menu__photo
                img(src="./assets/img/icons/account-avatar.svg")
            span.profile-menu__name Wilson W

        .profile-menu__fullness
            .profile-menu__fullness-progress
                progress(value="20" max="100")
                span.profile-menu__fullness-value 20%
            p.profile-menu__fullness-message Complete your profile to be visible to the universities


        button.button.button--outline.profile-menu__update Update my account

        nav.profile-menu__nav
            a.profile-menu__nav-link.profile-menu__nav-link--contacts-us(href="contact-us.pug.html") Contact us
            a.profile-menu__nav-link(href="my-applications.html") My applications
            a.profile-menu__nav-link(href="recommended-programs.html") Recommended programs
            a.profile-menu__nav-link(href="favourite-programs.html") Favourite programs
