section.helps
    .helps__container.container
        h2.title-section How Boundless 101 helps you

        ul.helps__items

            li.helps__item.helps-item
                .helps-item__img
                    span.helps-item__num 1
                    img(src="../assets/img/helps/01.jpg")
                p.helps-item__text You can start with learning English from the comfort of your home

            li.helps__item.helps-item
                .helps-item__img
                    span.helps-item__num 2
                    img(src="../assets/img/helps/02.jpg")
                p.helps-item__text Then effortlessly find your ideal school, college, or university anywhere in the world

            li.helps__item.helps-item
                .helps-item__img
                    span.helps-item__num 3
                    img(src="../assets/img/helps/03.jpg")
                p.helps-item__text Let Boundless101 coordinate and streamline your visa process

            li.helps__item.helps-item
                .helps-item__img
                    span.helps-item__num 4
                    img(src="../assets/img/helps/04.jpg")
                p.helps-item__text Receive a personalized plan for a smooth transition, covering cultural adaptation, financial guidance, and settling into your chosen country

