section.about
    .about__container.container
        h2.title-section Who we are

        .about__text
            p Boundless101 is a one-stop platform for international students to learn English, connect with educational institutions abroad, and get customized adaptation plans for their new country.
            p Rooted in founder Karyna Kazhamiakina's transformative educational journey from Belarus to the U.S., Boundless101 is committed to bridging educational divides, offering students pathways to global opportunities, cultural immersion, and personal development.
            p Our mission is a world where education knows no borders, enabling students to seamlessly transition into new educational and cultural environments with the support of advanced technology and a profound understanding of their unique needs.