.detail-course__body.js-hidden(data-tab="costs")

    .detail-course__table
        table
            tbody
                tr
                    th Family package tuition <small class="fs-15">(price per week)</small>
                    td 1 week

                tr
                    th Adult/Teen Package Price <small class="fs-15">(Parents and children 13 and older)</small>
                    td $285

                tr
                    th Kid Package Price <small class="fs-15">(Children aged 8 to 12 years)</small>
                    td $365*
        .table-footnote.fs-9 *Provided by TALK Kids Inc. a subsidiary of TALK English Schools.
        .table-footnote.fs-9 *Children enrolled w/o a guardian must be at least 8 years old and fill in a TALK Kids Application Form.


    .detail-course__section
        h2 What is included in the package?
        ul
            li Test to verify the level of English & Orientation walk
            li Kids English (for students aged 8 to 12 years) or General English 16 (students aged 13 years and older)


    .detail-course__table
        table
            tbody
                tr
                    th(colspan="2") Accommodation at International Guest House <br> <small class="fs-15">(price per person per week)</small>
                tr
                    td Double, triple, or quad room per week per person
                    td $595
                tr
                    td Refundable room & key deposit collected upon arrival per person (cash only)
                    td $200
                tr
                    td(colspan="2") Buffet-style breakfast & dinner and bedding & towels included


    .detail-course__table
        table
            tbody
                tr
                    th(colspan="2") Additional costs
                tr
                    td Application fee for each student
                    td $150
                tr
                    td Accommodation application fee for family
                    td $150
                tr
                    td Transfer from airport (up to 3 people)
                    td $185 <small class="fs-9">(payment for 4th person - $45)</small>
                tr
                    td Student insurance
                    td $25/person <small class="fs-9">(per week)</small>
                tr
                    td(colspan="2") Meals & Activities


