.detail-course__body.js-hidden(data-tab="costs")


    .detail-course__table
        table
            tbody
                tr
                    th Course
                    td 2 weeks
                    td 3 weeks
                tr
                    th Package for 2 weeks
                    td $2.700
                    td $3.800

    .detail-course__section
        h2 Package includes:
        ul
            li Orientation & placement test
            li Booking fee & Accommodation booking fee
            li General English 16 (16 lessons per week), Monday to Thursday, 9 am - 1:10 pm
            li One conversation workshop per week
            li Graduation ceremony & certificate
            li Activities including Beach BBQ, Everglades National Park & Airboat Tour, Miami
            li Bayside & South Beach, Shopping at Sawgrass Mills and much more!
            li Homestay, 14 meals per week (single or shared)
            li Transportation to/from school and scheduled activities
            li Airport transfers, round-trip. Arrival on Sunday and departure on Saturday.
            li For groups of 10 students, 1 leader free of charge
            li Optional Trips (at an extra cost): Orlando Trip, Key West, Busch Gardens, Kennedy Space Center and much more.

    .detail-course__section
        h2 Additional payments:
        ul
            li Insurance – $25/week
            li Books are not included and may be purchased at the school
            li Optional Trips: Orlando Trip, Key West, Busch Gardens, Kennedy Space Center and much more.
