.detail-course__body.js-hidden(data-tab="costs")


    .detail-course__table
        table
            tbody
                tr
                    th Course
                    td 1 weeks
                tr
                    th Adult/Teen Package Price (Parents and children 13 and older)
                    td $285
                tr
                    th Kid Package Price (Children aged 5 to 12 years)
                    td $365



    .detail-course__table
        table
            tbody
                tr
                    th(colspan="3") Accommodation (cost per week)
                tr
                    th Room type
                    td 1 to 13 nights
                    td 14 more nights
                tr
                    th Studio Suite (up   to 3 people)
                    td $135
                    td $125
                tr
                    th One Bedroom Suite (up to 4 people)
                    td $145
                    td $135
                tr
                    th Two Bedroom Suite (up to 6 people)
                    td $240
                    td $230


    .detail-course__table
        table
            tbody
                tr
                    th(colspan="2") Additional payments
                tr
                    th Application fee for each student
                    td $150
                tr
                    th Accommodation application fee for family
                    td $150
                tr
                    th Transfer from airport – 1 way – car for up to 3 people: Fort Lauderdale
                    td $185 <small class="fs-9">(payment for 4th person - $45)</small>
                tr
                    th Transfer from airport – 1 way – car for up to 3 people: Miami
                    td $255 <small class="fs-9">(payment for 4th person - $45)</small>
                tr
                    th Student insurance
                    td $25/person <small class="fs-9">per week</small>
                tr
                    th(colspan="2") Meals & Activities
