.detail-course__body.js-hidden(data-tab="costs")

    .detail-course__table
        table
            tbody
                tr
                    th Course (cost per week)
                    td 1-4 weeks
                    td 5-13 weeks
                    td 14-26 weeks
                    td 27-39 weeks
                    td 40-52 weeks
                tr
                    th General English 16 / 18 <small class="fs-15">(16 or 18 lessons of 50 minutes each)</small> Specialized English 16 / 18 <small class="fs-15">(16 or 18 lessons of 50 minutes each)</small>
                    td $270
                    td $190
                    td $160
                    td $150
                    td $140
                tr
                    th General English 22 <small class="fs-15">(22 lessons of 50 minutes)</small>
                    td $385
                    td $360
                    td $335
                    td $330
                    td $325



    .detail-course__table
        table
            tbody
                tr
                    th(rowspan="2") Individual classes
                    td 10 classes
                    td 20 classes
                    td 50 classes
                    td 100 classes
                    td 200 classes
                tr
                    td $600
                    td $1,150
                    td $2,700
                    td $5,150
                    td $9,750

    .detail-course__table
        table
            tbody
                tr
                    th(colspan="2") Accommodation (cost per week)
                tr
                    th Family accommodations, breakfast meals
                    td $300
                tr
                    th Family accommodation, breakfast and dinner
                    td $380
                tr
                    th Extra night at home
                    td $65
                tr
                    th For students aged 16-17 years, additional payment for family accommodation
                    td $25
                tr
                    th Apartments, hotels
                    td on request
        //.table-footnote *price includes travel from family to school and back


    .detail-course__table
        table
            tbody
                tr
                    th(colspan="2") Additional payments
                tr
                    th Enrolment fee
                    td $150
                tr
                    th Accommodation fee
                    td $75
                tr
                    th Host Family Fee (mandatory when booking this type of accommodation)
                    td $250
                tr
                    th Student insurance (per week)
                    td $25
                tr
                    th Transfer from Fort Lauderdale airport (1 way)
                    td $215 <small class="fs-9">(additional passenger $35)</small>
                tr
                    th Status change COS
                    td $250
                tr
                    th Change in the start date
                    td $100
                tr
                    th Training material
                    td $43.99 - $89.99 <small class="fs-9">(depending on course chosen)</small>