section.institutions
    .institutions__container.container
        h2.title-section Top educational institutions to study in

        .institutions__list.swiper
            .institutions__swiper.swiper-wrapper

                article.institutions__card.institutions-card.swiper-slide
                    img.institutions-card__logo(src="./assets/img/institutions/kaplan.svg")
                    p.institutions-card__text Study English in the US, Canada, England, or Europe with one of the leading language schools in the world. Variety of schools in the US: choice from Los Angeles, Santa Barbara, and San Francisco in California; New York; Chicago, Illinois; and Seattle, Washington. Classes start every week. Student accommodation is available in either student residences or homestays.
                    a.institutions-card__button.button.button--outline(href="kaplan.html") Learn More

                article.institutions__card.institutions-card.swiper-slide
                    img.institutions-card__logo(src="./assets/img/institutions/Talk.svg")
                    p.institutions-card__text Language school in the US with English, professional development, and company experience programs in business, finance, psychology, marketing, and management. As well as summer programs for the whole family. Study in San Francisco, California; Boston, Massachusetts; Atlanta, Georgia; Miami, Aventura, and Fort Lauderdale in Florida.
                    a.institutions-card__button.button.button--outline(href="talk-schools.html") Learn More

                article.institutions__card.institutions-card.swiper-slide
                    img.institutions-card__logo(src="./assets/img/institutions/CSI.svg")
                    p.institutions-card__text Annual business, healthcare, and IT programs in Chicago, Illinois, and Boston, Massachusetts with CPT and OPT opportunities for international students. Pursue a career-oriented education for one year, regardless of your prior experience in the field. Upon completion, you'll have the opportunity to work for an American company, with internship programs available to enhance your professional development
                    a.institutions-card__button.button.button--outline(href="computer-systems-institute.html") Learn More

