//section.institution-inner
//    .institution-inner__container.container
//        h1.institution-inner__title
//            img(src="./assets/img/institutions/CSI.svg")
//            | Computer Systems Institute
//
//        .institution-inner__desc
//            p Computer Systems Institute (CSI) is a dynamic institution providing career-focused high-quality programs designed to enhance job opportunities for our graduates and provide a skilled workforce for the community. We strive to achieve this by employing qualified and enthusiastic professionals who create a stimulating learning environment and deliver effective career development services.
//            p Founded in 1989 with the goal of bridging the gap between employers and a shortage in IT professionals by providing training to students and connecting them with employers. Today, CSI is much more: It has grown, student services continue to develop and the opportunities available to students are greater than ever. CSI offers a diverse range of courses, including business, hospitality, customer service, computer science, and healthcare. CSI has six campuses across Illinois and Massachusetts (Allston, Charlestown, Worcester, Chicago, Lombard, and Skokie).
//            p Through new partnerships with local colleges, employers and organizations CSI continues to grow and expand its opportunities for students. CSI’s focus on helping students gain the academic skills, knowledge, and support they need to reach their personal and professional goals is stronger than ever.
//
//
//        .institution-inner__item
//            h2 CSI Vision:
//            p To build  a community where transformative experiences help each student reach their full potential.
//
//        .institution-inner__item
//            h2 CSI Mission:
//            p We empower students to realize their career and academic goals by providing industry-relevant education through:
//
//            ul
//                li Career-focused academic programs
//                li Practical application of learned content
//                li Student-centered services and activities
//                li Comprehensive career services
//
//
//        a.button.button--primary.institution-inner__button(href="") Learn more