section.reviews
    .reviews__container.container
        .reviews__content
            h1.reviews__title What our happy customers say
            blockquote.reviews__quote
                p Thanks for the great service. <br> This is simply unbelievable! <br> The best one on the net!

            a.button.button--yellow(href="##") See for Yourself


        .reviews__swiper.swiper
            ul.reviews__list.swiper-wrapper

                li.reviews__item.reviews-item.swiper-slide
                    .reviews-item__header
                        img.reviews-item__userpic(src="./assets/img/reviews/01.jpg")
                        span.reviews-item__name Brooklyn Simmons
                        .reviews-item__rating
                            img(src="./assets/img/icons/star.svg")
                            img(src="./assets/img/icons/star.svg")
                            img(src="./assets/img/icons/star.svg")
                            img(src="./assets/img/icons/star.svg")
                            img(src="./assets/img/icons/star.svg")
                    .reviews-item__text
                        p A testimonial, often described as a 'word-of-mouth' marketing tactic, is a powerful tool that leverages the authenticity and credibility of real individuals to showcase the value and effectiveness of a product, service, or experience.

                li.reviews__item.reviews-item.swiper-slide
                    .reviews-item__header
                        img.reviews-item__userpic(src="./assets/img/reviews/02.jpg")
                        span.reviews-item__name Alice Swenson
                        .reviews-item__rating
                            img(src="./assets/img/icons/star.svg")
                            img(src="./assets/img/icons/star.svg")
                            img(src="./assets/img/icons/star.svg")
                            img(src="./assets/img/icons/star.svg")
                            img(src="./assets/img/icons/star.svg")
                    .reviews-item__text
                        p A testimonial, often described as a 'word-of-mouth' marketing tactic, is a powerful tool that leverages the authenticity and credibility of real individuals to showcase the value and effectiveness of a product, service, or experience.

                li.reviews__item.reviews-item.swiper-slide
                    .reviews-item__header
                        img.reviews-item__userpic(src="./assets/img/reviews/03.jpg")
                        span.reviews-item__name Marcus Ferera
                        .reviews-item__rating
                            img(src="./assets/img/icons/star.svg")
                            img(src="./assets/img/icons/star.svg")
                            img(src="./assets/img/icons/star.svg")
                            img(src="./assets/img/icons/star.svg")
                            img(src="./assets/img/icons/star.svg")
                    .reviews-item__text
                        p A testimonial, often described as a 'word-of-mouth' marketing tactic, is a powerful tool that leverages the authenticity and credibility of real individuals to showcase the value and effectiveness of a product, service, or experience.

                li.reviews__item.reviews-item.swiper-slide
                    .reviews-item__header
                        img.reviews-item__userpic(src="./assets/img/reviews/01.jpg")
                        span.reviews-item__name Brooklyn Simmons
                        .reviews-item__rating
                            img(src="./assets/img/icons/star.svg")
                            img(src="./assets/img/icons/star.svg")
                            img(src="./assets/img/icons/star.svg")
                            img(src="./assets/img/icons/star.svg")
                            img(src="./assets/img/icons/star.svg")
                    .reviews-item__text
                        p A testimonial, often described as a 'word-of-mouth' marketing tactic, is a powerful tool that leverages the authenticity and credibility of real individuals to showcase the value and effectiveness of a product, service, or experience.

                li.reviews__item.reviews-item.swiper-slide
                    .reviews-item__header
                        img.reviews-item__userpic(src="./assets/img/reviews/02.jpg")
                        span.reviews-item__name Alice Swenson
                        .reviews-item__rating
                            img(src="./assets/img/icons/star.svg")
                            img(src="./assets/img/icons/star.svg")
                            img(src="./assets/img/icons/star.svg")
                            img(src="./assets/img/icons/star.svg")
                            img(src="./assets/img/icons/star.svg")
                    .reviews-item__text
                        p A testimonial, often described as a 'word-of-mouth' marketing tactic, is a powerful tool that leverages the authenticity and credibility of real individuals to showcase the value and effectiveness of a product, service, or experience.
