.detail-course__body.js-hidden(data-tab="photos")
    img(src="./assets/img/photos/boston/01.jpg")
    img(src="./assets/img/photos/boston/02.jpg")
    img(src="./assets/img/photos/boston/03.jpg")
    img(src="./assets/img/photos/boston/04.jpg")
    img(src="./assets/img/photos/boston/05.jpg")
    img(src="./assets/img/photos/boston/06.jpg")