.detail-course__body.js-hidden(data-tab="photos")
    img(src="./assets/img/photos/miami/01.jpg")
    img(src="./assets/img/photos/miami/02.jpg")
    img(src="./assets/img/photos/miami/03.jpg")
    img(src="./assets/img/photos/miami/04.jpg")
    img(src="./assets/img/photos/miami/05.jpg")