.detail-course__body.js-hidden(data-tab="photos")
    img(src="./assets/img/photos/san-francisco/01.jpg")
    img(src="./assets/img/photos/san-francisco/02.jpg")
    img(src="./assets/img/photos/san-francisco/03.jpg")