section.contact-us
    .contact-us__container.container
        .contact-us__body
            h2.title-section Looking for guidance? Our team is ready to assist!

            p.contact-us__text Click here for a free consultation with one of our study-abroad specialists. <br> They'll provide expert advice on selecting the right country, university, and degree for you.
            button.button.button--primary.contact-us__button Contact US