ul.detail-course__tabs
    li.detail-course__tab.js-active(data-tab="description") Description
    li.detail-course__tab.mobile-hidden(data-tab="costs") Courses and Costs
    li.detail-course__tab.mobile-visible(data-tab="costs") Costs
    li.detail-course__tab(data-tab="photos") Photos
    li.detail-course__tab(data-tab="reviews") Reviews