.custom-select
    button.select-button(type="button") Where do you want to study

    ul.select-dropdown
        li
            label
                span Fort Lauderdale
                input(type='radio', name='where-study' value="Fort Lauderdale")

        li
            label
                span Boston
                input(type='radio', name='where-study' value="Boston")

        li
            label
                span San Francisco
                input(type='radio', name='where-study' value="San Francisco")

.custom-select
    button.select-button(type="button") How long do you want to study?

    ul.select-dropdown
        li
            label
                span Not sure yet
                input(type='radio', name='how-long' value="Not sure yet")

        li
            label
                span May 2024
                input(type='radio', name='how-long' value="May 2024")

        li
            label
                span June 2024
                input(type='radio', name='how-long' value="June 2024")

        li
            label
                span July 2024
                input(type='radio', name='how-long' value="July 2024")