.custom-select
    button.select-button(type="button") Where do you want to study

    ul.select-dropdown
        +select-item("Fort Lauderdale", "where-study")
        +select-item("Boston", "where-study")
        +select-item("San Francisco", "where-study")


.custom-select
    button.select-button(type="button") How long do you want to study?

    ul.select-dropdown
        +select-item("Not sure yet", "how-long")
        +select-item("May 2024", "how-long")
        +select-item("June 2024", "how-long")
        +select-item("July 2024", "how-long")