section.hero
    .hero__container.container
        h1.hero__title One-Stop Solution to Studying in your Dream University
        img.hero__img(src="../assets/img/cover.jpg")

        ul.hero__advantages
            li learn English online or
            li match with your perfect university to book a program abroad
            li get full visa support & a customized adaptation plan


