footer.footer#footer
    .footer__container.container

        a.footer__logo
            img(src="./assets//img/logo.png" width="100" alt="Logo Boundless101")

        nav.footer__nav
            a.footer__nav-link(href="") For Students
            a.footer__nav-link(href="") For Agencies
            a.footer__nav-link(href="") For Institutions
            a.footer__nav-link(href="") Our Story
            a.footer__nav-link(href="") Contact Us
            a.footer__nav-link(href="") Contact Us