extends ../layouts/profile

block variables
  - var title = "Boundless101 | AI-Powered Support"

block content
    .profile-grid
        .profile-grid__container.container
            include ../blocks/profile/profile-menu/profile-menu
            .profile-grid__content

                section.support.support--profile
                    .support__container
                        h2.title-section.support__title AI-Powered Support and Connection with Student Ambassadors

                        .support__content

                            article.support__card.support-card
                                h3.support-card__title Premium 1 month
                                span.support-card__price $50 / month
                                span.support-card__plan All included plan
                                button.button.button--primary.support-card__button Buy

                            ul.support__advantages
                                li.support__advantages-item Get unlimited queries about travel, study, and cultural adaptation, available 24/7 with AI-generated information and the opportunity for personalized interactions with ambassadors.
                                li.support__advantages-item The subscription-based model ensures continuous access to these resources, including the ability to request detailed adaptation plans and schedule calls with student ambassadors for in-depth guidance.
                                li.support__advantages-item Student ambassadors are available to answer questions, provide support, and offer insights into cultural norms, legal regulations, and practical living advice in new countries.



