extends ../layouts/page-inner

block variables
  - var title = "Boundless101 | Choose a course"

block content

    section.quiz.quiz-study
        .quiz__container.container

            .quiz__body
                include ../blocks/quiz/quiz-study/quiz-study