extends ../layouts/main

block variables
    - var title = "Boundless101"

block content
    include ../blocks/hero/hero
    include ../blocks/why-us/why-us
    include ../blocks/with-us/with-us
    include ../blocks/helps/helps
    include ../blocks/about/about
    include ../blocks/institutions/institutions
    include ../blocks/map/map
    include ../blocks/support/support
    include ../blocks/contact-us/contact-us