extends ../layouts/main

block variables
    - var title = ""

block content
    include ../blocks/hero/hero
    include ../blocks/helps/helps
    include ../blocks/about/about
    include ../blocks/institutions/institutions
    include ../blocks/map/map