extends ../layouts/main

block variables
  - var title = "Boundless101 | Talk Schools"

block content
    section.institution-inner
        .institution-inner__container.container
            h1.institution-inner__title
                img(src="./assets/img/institutions/Talk.svg")
                | Talk Schools

            .institution-inner__item
                h2 Passionate About Education
                p We are dedicated professionals devoted to our students.  Since 1996, we have graduated more than 100,000 students from around the world. TALK Schools is headquartered in Florida, USA, accredited by ACCET and is a member of the TALK Education Group.

            .institution-inner__item
                h2 Our Mission
                p To provide high-quality affordable English and Professional Development training to international students.

            .institution-inner__item
                h2 Our Method
                p To utilize the most effective methodology and technology while integrating cultural and social components.

            .institution-inner__item
                h2 The Happiness and Well-being of our Students
                p These are our most important considerations. We are nurturing and compassionate and work hard to ensure that students are safe and secure, progressing at an optimal rate in their studies, comfortable at the school and in their accommodations and enjoying an active and rewarding social life.

            .institution-inner__item
                h2 Academic Excellence
                p Teaching Methodology. We utilize the Communicative approach to teaching. The curriculum is based on subject matter and topics of interest to students, encouraging active participation in classroom discussions and activities. This promotes confidence and stimulates learning.
                p Outstanding Teachers. Our teachers are among the best in the industry. They are qualified, experienced and have a passion to teach. Trained in our teaching methodology and using the latest course materials and technology, our teachers are able to adapt to individual learning preferences while maintaining the students’ high level of interest and motivation.
                p Curriculum & Interactive Technology. The integration of our curriculum with interactive technology brings lessons to life so students can immerse themselves in the learning process. This integration facilitates the access to online subject matter, the improvement of listening and comprehension skills and the playing of games specifically designed to make learning fun.


            .institution-inner__item
                h2 TALK Advantage:
                p 75% of classroom activity is based on conversation
                p 100% of our schools use web-connected interactive technology
                p 98% is the “Satisfaction Rating” students give our teachers
                p 6.5 years is the average tenure of TALK teachers
                p 97 countries have sent students to TALK schools including Brazil, Venezuela, Colombia, Turkey, Russia, Italy, France, Switzerland, Germany, Saudi Arabia, Taiwan, Ukraine, Japan, South Korea, China, Vietnam, Thailand and more!



            a.button.button--primary.institution-inner__button(href="") Learn more