section.why-us
    .why-us__container.container

        .why-us__content

            h2.title-section.why-us__title Why choose us

            ul.why-us__list

                li.why-us__item
                    img.why-us__item-icon(src="./assets/img/why-us/01.svg")
                    span.why-us__item-title Minimum <br> Paperwork

                li.why-us__item
                    img.why-us__item-icon(src="./assets/img/why-us/02.svg")
                    span.why-us__item-title Extensive <br> school choice

                li.why-us__item
                    img.why-us__item-icon(src="./assets/img/why-us/03.svg")
                    span.why-us__item-title Transparent <br> Fees