.detail-course
  margin-top: 52px

  &__container
    display: grid
    grid-template-columns: 1fr 450px
    grid-template-rows: min-content min-content 160px 1fr
    grid-gap: 16px 64px
    @include tablet
      grid-template-columns: minmax(auto, 650px)
      justify-content: center
      grid-template-rows: auto
      grid-auto-rows: auto
      grid-gap: 24px

  &__title
    font-size: 36px
    font-weight: 500
    color: $text-dark
    @include tablet
      grid-row: 2 / 3

  &__tabs
    grid-column: 1 / 2
    display: flex
    gap: 16px
    align-items: center
    justify-content: space-between
    padding-bottom: 12px
    border-bottom: 1px solid $text
    @include tablet
      grid-row: 3 / 4

  &__tab
    cursor: pointer
    font-size: 18px
    font-weight: 600
    transition: $transition
    &.js-active,
    &:hover
      color: $secondary

  &__body
    grid-column: 1 / 2
    grid-row: 3 / 5
    display: flex
    flex-direction: column
    gap: 24px
    color: #000
    overflow: hidden
    @include tablet
      grid-row: 4 / 5
      grid-column: 1 / -1


  &__main-photo
    grid-column: 2 / 3
    grid-row: 1 / span 3
    height: 230px
    width: 100%
    max-width: 450px
    box-shadow: rgba(#000, 1) 10px 10px
    @include tablet
      grid-row: 1 / 2
      grid-column: 1 / -1
      margin-left: 0
    @include mobile
      height: 180px