section.detail-course.detail-course--tabs
    .detail-course__container.container

        h1.detail-course__title Boston

        ul.detail-course__tabs
            li.detail-course__tab.js-active(data-tab="description") Description
            li.detail-course__tab.mobile-hidden(data-tab="costs") Courses and Costs
            li.detail-course__tab.mobile-visible(data-tab="costs") Costs
            li.detail-course__tab(data-tab="photos") Photos
            li.detail-course__tab(data-tab="reviews") Reviews

        include description/description
        include costs/costs
        include photos/photos
        include reviews/reviews


        img.detail-course__main-photo(src="https://www.robertmringphotography.com/images/400/L1030836_LQ_RMR_September_2015-Edit_RMRing.jpg")

        include detail-course-form/detail-course-form
