section.with-us(data-aos="fade-up")
    .with-us__container.container
        .with-us__content
            h2.title-section With Boundless 101

            ul.with-us__list

                li.with-us__item You improve your English
                li.with-us__item You get matched with universities
                li.with-us__item You book online
                li.with-us__item.with-us__item--hidden
                li.with-us__item You receive full visa support
                li.with-us__item You get a customized adaptation plan
                li.with-us__item You will connect with student ambassadors
                li.with-us__item You move abroad to study