section.profile-main

    .profile-main__tabs
        button.profile-main__tabs-item.js-active(data-tab="1") My lessons
        button.profile-main__tabs-item(data-tab="2") Take a test to know your English level

    .profile-main__content(data-cont="1")

        p Welcome to Boundless101 online English learning with your dedicated AI-powered tutor
        a.button.button--secondary.start-lesson(href="") Start a lesson now

    .profile-main__content.js-hidden(data-cont="2")

        p Take a test to know your English level
        a.button.button--secondary.start-lesson(href="") Start test
