section.map
    .map__container

        h2.title-section.container What is your dream country to study and live in?

        .map__wrapper
            img.map__img(src="./assets/img/map/map-net.svg")

            a.map__flag.map__flag--canada(href="##")
                img(src="./assets/img/map/canada.svg")

            a.map__flag.map__flag--usa(href="##")
                img(src="./assets/img/map/usa.svg")

            a.map__flag.map__flag--brazil(href="##")
                img(src="./assets/img/map/brazil.svg")

            a.map__flag.map__flag--france(href="##")
                img(src="./assets/img/map/france.svg")

            a.map__flag.map__flag--germany(href="##")
                img(src="./assets/img/map/germany.svg")

            a.map__flag.map__flag--australia(href="##")
                img(src="./assets/img/map/australia.svg")
