section.popup.popup-login
    .popup-login__body.popup__body

        button.popup__close(type="button")

        h3.popup__title Login with

        .popup-login__social-list
            a.popup-login__social-link(href="##" title="facebook")
                img(src="./assets/img/icons/popup/facebook.svg" alt="facebook icon")
            a.popup-login__social-link(href="##" title="twitter")
                img(src="./assets/img/icons/popup/twitter.svg" alt="twitter icon")
            a.popup-login__social-link(href="##" title="google")
                img(src="./assets/img/icons/popup/google.svg" alt="google icon")


        form.popup-login__form.login-form

            label.form-group
                span Username
                input(type="text" autocomplete="off")

            label.form-group.form-group--password
                span Password
                    a.form-group__forgot(href="" title="forgot?") forgot?
                button.form-group-eye-toggle(type="button")
                input(type="password" autocomplete="off")

            label.remember-me
                input(type="checkbox" value="remember me")
                span remember me

            //button.button.button--primary.popup__form-submit.login-form__submit(type="submit") Login
            a.button.button--primary.popup__form-submit.login-form__submit(href="profile.html") Login


        .login-form__register-now Not a member?
            button.js-popup-register-open(type="button") Register  now
