mixin select-item(value, name)
    li
        label
            span=value
            input(type='radio', name=name value=value)

mixin quizAnswer(label, name)
    li
        label= label
            input(type='radio', name= name, value= label)
            span