header.header
    .container.header__container
        a.header__logo(href='index.html')
            img(src="./assets//img/logo.png" width="100" alt="Logo Boundless101")

        nav.header__nav.header-nav
            ul.header-nav__list
                li.header-nav__item
                    a.header-nav__link(href='##') For Institutions
                li.header-nav__item
                    a.header-nav__link(href='##') For Agencies
                li.header-nav__item
                    a.header-nav__link(href='##') Our Story
                li.header-nav__item
                    a.header-nav__link(href='contact-us.html') Contact Us

            button.header__login.button.button--outline.mobile-visible.js-popup-login-open Login

        button.header__login.button.button--outline.mobile-hidden.js-popup-login-open Login

        button(type="button").header__burger
            span.header__burger-line.header__burger-line-1
            span.header__burger-line.header__burger-line-2
            span.header__burger-line.header__burger-line-3