.matched-courses

  &__title
    font-size: 36px
    font-weight: 500
    margin-bottom: 24px
    text-align: center
    @include mobile
      font-size: 25px
      font-weight: 800
      margin-bottom: 40px

  &__body
    display: grid
    grid-template-columns: 300px minmax(700px, 1fr)
    grid-gap: 24px
    padding: 36px 24px

  &__search
    grid-column: 1 / 2
    grid-row: 1 / 3
    padding: 16px 12px 24px
    border: 1px solid $primary

  // --- Courses Search ---
  .courses-search
    background-color: $white
    height: fit-content

    .courses-search__select + .courses-search__select
      margin-top: 8px


    &__caption
      font-size: 18px
      font-weight: 600
      text-align: center
      margin-bottom: 8px

    &__group
      margin-top: 32px
      &-caption
        display: inline-block
        margin-bottom: 8px
      fieldset
        display: flex
        flex-direction: column
        gap: 8px


    &__checkbox
      display: flex
      flex-direction: row-reverse
      justify-content: left
      align-items: center
      gap: 12px
      input[type="checkbox"]
        display: none
        & + span
          min-width: 16px
          width: 16px
          height: 16px
          aspect-ratio: 1 / 1
          border: 2px solid $text
        &:checked + span
          background-image: url("../img/icons/quiz-check.svg")
          background-size: 11px 8px
          background-position: center
          background-repeat: no-repeat


  // --- Courses Sort ---
  &__sort
    grid-column: 2 / 3

  .courses-sort
    display: flex
    gap: 16px
    align-items: center
    height: fit-content
    &__list
      display: flex
      gap: 16px
      align-items: center

    &__item
      color: $secondary
      padding: 6px 12px
      cursor: pointer
      border: 1px solid transparent
      transition: $transition
      &.js-active
        border-color: currentColor
      &:hover
        border-bottom-color: currentColor


  // --- Courses Cards ---
  &__cards
    grid-column: 2 / 3
    display: flex
    flex-direction: column
    gap: 44px



