.matched-courses
  margin-top: 60px
  @include mobile
    margin-top: 52px

  &__container
    background-image: url("../img/decor/bg-net.svg")
    background-position: center
    background-repeat: repeat-y
    min-height: 50vh

  &__title
    font-weight: 500
    margin-bottom: 24px
    text-align: center
    @include fontSize(25, 36)
    @include mobile
      font-weight: 800
      margin-bottom: 40px

  &__body
    display: grid
    grid-gap: 32px
    @media (min-width: $width-tablet)
      padding: 36px 24px
    @media (min-width: $width-mobile)
      grid-template-columns: 300px 1fr
      grid-template-rows: min-content 1fr
      grid-gap: 24px


  &__search
    padding: 16px 12px 24px
    border: 1px solid $primary
    @media (min-width: $width-mobile)
      grid-column: 1 / 2
      grid-row: 1 / 3
    @include mobile
      order: 1
      padding: 16px 24px 24px


  // --- Courses Search ---
  .courses-search
    background-color: $white
    height: fit-content
    @include mobile
      margin-top: 32px

    .courses-search__select + .courses-search__select
      margin-top: 8px

    &__select
      @include mobile
        max-width: none

    &__caption
      font-size: 18px
      font-weight: 600
      text-align: center
      margin-bottom: 8px

    &__group
      margin-top: 32px
      &-caption
        display: inline-block
        margin-bottom: 8px
      fieldset
        display: flex
        flex-direction: column
        gap: 8px


    &__checkbox
      display: flex
      flex-direction: row-reverse
      justify-content: left
      align-items: center
      gap: 12px
      width: fit-content
      input[type="checkbox"]
        display: none
        & + span
          min-width: 16px
          width: 16px
          height: 16px
          aspect-ratio: 1 / 1
          border: 2px solid $text
        &:checked + span
          background-image: url("../img/icons/quiz-check.svg")
          background-size: 11px 8px
          background-position: center
          background-repeat: no-repeat


  // --- Courses Sort ---
  &__sort
    overflow: auto
    @media (min-width: $width-mobile)
      grid-column: 2 / 3

  .courses-sort
    display: flex
    gap: 16px
    align-items: center
    height: fit-content
    flex-wrap: wrap
    &__list
      overflow: auto
      display: flex
      gap: 16px
      align-items: center
      @media (max-width: 900px)
        gap: 0

    &__item
      color: $secondary
      padding: 6px 12px
      cursor: pointer
      border: 1px solid transparent
      white-space: nowrap
      font-size: 15px
      @media (max-width: 480px)
        padding: 6px
      &.js-active,
      &:hover
        border-color: currentColor
      &:nth-child(1)
        position: relative
        display: flex
        align-items: center
        gap: 8px
        &::after
          content: ""
          display: inline-block
          width: 16px
          height: 16px
          background-image: url("../img/icons/sort-arrow.svg")
          background-size: cover
          background-position: center
          background-repeat: no-repeat


  // --- Courses Cards ---
  &__cards
    display: flex
    flex-direction: column
    gap: 40px
    @media (min-width: $width-mobile)
      grid-column: 2 / 3
      gap: 44px




