.detail-course__body(data-tab="description")
    p The TALK Family Package provides a stimulating learning environment for families to learn English while vacationing in the USA. The program is offered during winter and summer.
    p Parents and children 13 years of age will join the part-time General English course, which features interactive classroom technology.


    .detail-course__section
        p Children aged 5 to 12 will join the Kids English course, which features activities and games to optimize learning:
        ul
            li Teaching is based on weekly learning themes supplemented with fun activities such as games, stories and songs.
            li Themes may include “Seasons & Weather”, “Occupations & Hobbies”, “Your Family Tree”, “Science & Space”, etc.
            li One special weekly activity such as a field trip, scavenger hunt, animal show, making & eating ice-cream sundaes, etc.
            li Graduation ceremony. Parents are invited!
            li Classrooms are equipped with age-appropriate materials, toys and games.

    p <b>Schedule:</b> Monday – Thursday from 9:00 to 13:10. Lessons for kids and adults are held at the same time.