.detail-course__body(data-tab="description")
    p Known as the “Venice of America” because of the extensive system of inland waterways that wind through the city and beyond, Fort Lauderdale is one of the most popular tourist destinations in the U.S. TALK Fort Lauderdale is located across from the campus of Nova Southeastern University and about 10 miles from the city’s famous oceanfront and cruise port area. TALK students can participate in fun and exciting local activities and develop friendships with American university students.


    .detail-course__section
        b Weekly activities:
        ul
            li Excursion in Fort Lauderdale, Miami
            li Beach visit
            li Shopping
            li Communicative activities with Americans


    .detail-course__table
        table
            tbody
                tr
                    th(colspan="7") Week schedule
                tr
                    th Monday
                    th Tuesday
                    th Wednesday
                    th Thursday
                    th Friday
                    th Saturday
                    th Sunday
                tr
                    td English 9:00am-1:10pm
                    td English 9:00am-1:10pm
                    td English 9:00am-1:10pm
                    td English 9:00am-1:10pm
                    td(rowspan="2") Fort Lauderdale Beach
                    td(rowspan="2") A trip to Orlando (optional)
                    td(rowspan="2") Jungle Island (optional)

                tr
                    td <small class="fs-10">Orientation & Placement test Las Olas & Beach Place</small>
                    td <small class="fs-10">Everglades National Park</small>
                    td <small class="fs-10">Orientation & Placement test Las Olas & Beach Place</small>
                    td <small class="fs-10">Miami Lincoln Road & South Beach</small>
