.detail-course__body(data-tab="description")
    p A city with a rich history, world-famous university traditions and «visiting cards», does not stop attracting foreign students. Boston, located in the heart of the financial district, offers its students a dynamic, multinational environment. A two-minute walk to the metro opens up the city, where the old streets and lush greenery are unusually unique and reveal beautiful pavement, cobblestone and unforgettable tourist attractions.

    .detail-course__section
        h2 Program Length
        p Up to 52 weeks

    .detail-course__section
        h2 Accommodation options:
        ul
            li Family residence
            li Student dormitory

    .detail-course__section
        h2 Details
        ul
            li Located in the historic Bedford Building, Financial District
            li Customized design in loft style
            li 9 audiences
            li Large and cosy student lounge area
            li Interactive technology
            li Free Wi-Fi
            li Public transport availability
            li Large parking for a fee
            li Cafes, restaurants and shops are within walking distance.