.detail-course__body(data-tab="description")
    p The city of San Francisco, or as the locals call it, the West Coast Pearl, is a beautiful and dynamic city in northern California. The city is built on hills that offer breathtaking views of the Pacific Ocean and San Francisco Bay. It is here that are the most famous companies that provide advanced technology to the whole world.  Golden Gate Bridge, cable cars and colorful Victorian houses are just some of the attractions of this wonderful city. San Francisco is located in the world-famous fishing marina area, surrounded by restaurants, boutiques, cultural, historical and entertainment attractions. Here, students can absorb the energy of one of the world’s greatest cities.

    .detail-course__section
        h2 Program Length
        p Up to 52 weeks

    .detail-course__section
        h2 Accommodation options:
        ul
            li Family residence
            li Student dormitory

    .detail-course__section
        h2 Details
        ul
            li Modern school in new design
            li 6 large classrooms
            li Cosy lounge area
            li Interactive technology usage
            li Free Wi-Fi
            li We are located in the Anchorage Square shopping complex with access to the outdoor area and views of the bay
            li Public parking for an additional fee