.detail-course__body(data-tab="description")
    p Miami, the center of international trade between the US and Latin America, impresses with its bright architectural silhouette, outlined by skyscrapers. Miami is located in the vibrant Brickell financial district, a short walk from luxury cafes, restaurants and boutiques. Students are delighted with the convenient location - all the hangouts, parks, shopping, museums and theatres are literally two steps away.

    .detail-course__section
        h2 Program Length
        p Up to 52 weeks

    .detail-course__section
        h2 Accommodation options:
        ul
            li Family residence
            li Student dormitory

    .detail-course__section
        h2 Details
        ul
            li Modern, individual design of school premises
            li 9 audiences
            li Outdoor lounge area
            li Interactive technology
            li Free Wi-Fi
            li Public transport availability
            li Large parking
            li Cafés, restaurants and shops within walking distance